[main]
    grafana_url = http://your_stuff:8086/write?db=%s
    driver = /home/you/chromedriver/chromedriver

[pipeline.dummy]
pipeline = sources.dummy.Dummy | filters.dummy.Dummy | maps.dummy.Dummy | sinks.dummy.Dummy

[pipeline.gvb]
pipeline = sources.gvb.Gvb | maps.format_gvb.FormatGvb | sinks.telegram.Telegram

[pipeline.printer]
pipeline = sources.mqtt.Mqtt | sinks.dummy.Dummy

[plugin.Gvb]
apikey = *****
lines_interested = 50,53

[plugin.Telegram]
bot_id = ******:------------
chat_id = 9999999

[plugin.Mqtt]
host = iot
port = 1883
topics = octoprint/#

# Not implemented below this message

[pipeline.weather]
pipeline = [weather, to_markdown, telegram]

[plugin.abn]
account = 111111111
card = 111
pin = 11111
grafana_db = scripts_data

[plugin.weather]
API_KEY = ******************************
CITY_ID = 2759794
#amsterdam

[plugin.filter_printer_states]
progress = 1, 25, 50, 75, 100

[plugin.translate_eng]
translate_id = 0

